name: Apply Patch
on: [workflow_dispatch]
jobs:
  apply-patch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          curl -L "https://raw.githubusercontent.com/dey-uname/glsl/refs/heads/main/ppsspp_glsl.patch" -o ppsspp.patch
          cd GPU/Common
          patch -p2 --verbose < ../../ppsspp.patch
          
