name: Apply Patch
on: [workflow_dispatch]
jobs:
  apply-patch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          curl -L "https://raw.githubusercontent.com/dey-uname/glsi/main/ppsspp_glsl.patch" -o ppsspp.patch
          patch -p1 < ppsspp.patch
