name: Apply Patch
on: [workflow_dispatch]
jobs:
  apply-patch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          curl -L https://raw.githubusercontent.com/dey-uname/glsl/refs/heads/main/ppsspp_glsl.patch | git apply --allow-empty
          git add .
          git commit -m "Applied patch glsl cache"
